* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Ubuntu', sans-serif;
*/
/* ===============
   MAIN NAVIGATION
   =============== */
.landing {
  box-sizing: border-box;
  height: 100vh;
  background-color: #0b4235;
  width: 100%;
}

.main_nav {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  padding: 1.5% 8%;
  width: 100%;
}

.main_nav div {
  flex: 1 1 0px;
  display: flex;
  align-items: flex-end;
}

.main_nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  color: #f9cbbb;
  position: relative;
}

.main_nav a::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #ff6200;
  width: 100%;
  bottom: -15px;
  opacity: 0;
}

.left_nav a::before {
  width:60%;
}

.main_nav a:hover::before {
  bottom: -5px;
  opacity: 1;
}

.logo {
  float: center;
  font-family: 'Righteous', cursive;
  text-transform: lowercase;
  font-size: 2em;
}

.left_nav a {
  padding-right: 2em;
}

.mid_nav a {
  margin: auto;
}

.right_nav a {
  margin-left: auto;
  margin-right: 0;
}

/* ===============
      BANNER
  =============== */
.banner {
  position: relative;
  margin: auto;
  padding: 0 8%;
  width: 70%
}

.banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.banner h2 {
  position: absolute;
  top: 47%;
  right: 0;
  width: 40%;
  font-size: 3.1em;
  color: #0b4235;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  -webkit-text-stroke-width: .01px;
  -webkit-text-stroke-color: #f9cbbb;
}

.banner a {
  position: absolute;
  top: 82%;
  right: 20%;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  background-color: #f9cbbb;
  color: #0b4235;
  padding: .7em;
}

.banner a:hover {
  box-sizing: border-box;
  background-color: #0b4235;
  color: #f9cbbb;
  border: 2px solid #f9cbbb;
}

/* ===============
      ABOUT
  =============== */
#about {
  width: auto;
}

/* ===============
   DETAIL PAGE 1
  =============== */
