
*{
    margin:0px;
    padding: 0;
    background-color: #f5e9db;

}

body {
  font-family: sans-serif;
  width:100%;

}


header{
  padding: 30px 80px;
  cursor: pointer;
  font-family: 'Mansalva', cursive;
  font-size: 30px;
}

/*main navigation bar section*/
  .main_nav{
    border-top: 2px solid black;
    margin-left: 60px;

  }
  .main_nav nav li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    list-style: none;
  }
  .navbar{
    margin-top: 100px;
    margin-left: 60px;
  }

  .navbar h5{
    margin-bottom: 30px;
  }


  .navbar li, .main_nav{
    margin-left: 60px;
    margin-bottom: 20px;
    padding: 0px 10px;
    font-size: 15px;
    display: inline-block;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;

  }

  .navbar a, .main_nav a{
    color:black;
    text-decoration: none;
  }

  .navbar li a:hover, .main_nav li a:hover{
    color:#eb9c7d;
  }

/*interactive elements bar section*/
  #interactive_elements, .Input_Text{
    margin-top: 120px;
    margin-left: 60px;
    padding-bottom: 40px;
  }


  #interactive_elements h2,  #text_elements h1, #combined_elements h2, .Palette h2{
    margin-top: 40px;
    border-bottom: 2px solid #14564a;
    width:300px;
    font-style: bold;
    color: #14564a;
    font-family: 'Ubuntu', sans-serif;
  }

  #interactive_elements .element h3, .navbar h3,
  .buttons h3, .navbar h4, .buttons h5, .Input_Text h2, #Input-Text h3, .radio h3,h4, .image_link h3, .lists h3{
    color: #a1c0ae;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
  }


  #interactive_elements .element a{
    border-bottom: solid 2px lightgrey;
    color: #45454d;
    text-decoration: none;
    padding: 10px;
  }
  #interactive_elements .element a:hover{
    border-bottom: solid 2px #eb9c7d;
    color:#eb9c7d;
  }
  #interactive_elements .element code, .navbar code, .buttons code, .lists code{
    background-color: white;
    margin-bottom: 35px;
    padding: 15px;
  }

  #interactive_elements .element a:hover{
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
  }
#combined_elements code{
  display: block;
  font-size: 12px;
}
.buttons, .text_input, .Checkout, .radio, .image_link, #text_elements, .lists, #combined_elements, .Color-Palette, .Imagery, #citations {
  margin-top:100px;
  margin-left: 60px;

}
.buttons h5{
  margin-bottom: 30px;
  margin-top: 30px;
}


.button {
color: #494949;
font-size: 15px;
padding: 10px;
margin-right:40px;
margin-left: 60px;
text-decoration: none;
background: #ffffff;
border: 1px solid #494949;
display: inline-block;
transition: all 0.4s ease 0s;
}
.button:hover {
color: #ffffff ;
background: #9ebfac;
border: 1px solid white;
transition: all 0.4s ease 0s;
}

.Input_Text form,label{
  margin-bottom: 30px;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

.Input_Text input{
  font-size: 14px;
  margin-left: 1.5em;
  margin-bottom: 10px;
  border: 1px solid #0c5045;
}
#Input-Text code{
  display: block;
  width:600px;
  margin-left: 60px;
  padding: 20px;
  background-color: white;
}
  #Input-Text h3{
    margin-top: -20px;
    margin-bottom: 40px;
    margin-left: 60px;
  }



.radio input{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      background-color: lightgrey;
      color: #c06c84;
      top: 10px;
      height: 28px;
      width: 28px;
      cursor: pointer;
}

.radio input:hover
{
     background: #9ebfac;
}
.radio input:checked
{
     background: #0c5045;
}
.radio h4,h3{
  margin-top: 40px;
  margin-bottom: 40px;
}
.radio code, .image_link code{
  width: 500px;
  display: block;
  font-weight: 400;
  padding:10px;
  background: white;
}

.image_link img{

  height:40%;
  width:40%;
}

.image_link img:hover  {
  opacity: 0.6;
}


#text_elements .element h2{
  margin-top: 50px;
  font-size: 30px;
  font-family: 'Mansalva', cursive;
}
#text_elements .element h3{
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
}

#text_elements .element h5{
  margin-top: 40px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
#text_elements p{
  margin-top: 40px;
  font-size: 14px;
  font-family: 'Signika', sans-serif;
}

.lists ol{
  margin-left: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}




#combined_elements .nav_links li{
  margin-left: 60px;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 0px 10px;
  font-size: 15px;
  display: inline-block;
  justify-content: space-between;
  font-family: 'Ubuntu', sans-serif;


}

#combined_elements .nav_links a{
  color:black;
  text-decoration: none;
}

#combined_elements .nav_links li a:hover {

color:#0c5045;
}
#combined_elements code{
  background-color: white;
}

.column1{
  margin-top: 40px;
  margin-right: 85px;
  display: flex;
}

.column1 .New_Arrivals{
  display: inline-flex;
  height:450px;
  width:100%;
  margin: 10px;
}
.column1 .item{
  display:inline-block;
  height:300px;
  width:100%;
  margin-left: 20px;
  margin-right: 20px;
}
.column1 .item img{
  height:200px;
}
.column1 .item img:hover{
  opacity: 0.7;
}
.column1 .item h1{
  font-size: 25px;
  font-family: 'Mansalva', cursive;
}
.column1 .item p{
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  padding-top: 5px;
}
.column1 .item a{
  text-decoration: none;
  color:black;
  font-size: 12px;
}
.column1 .item a{
  text-decoration: none;
  color:#be6283;
  font-size: 12px;
  border-bottom: 1px solid #b5525c;
}
.payment{
  margin-left: 60px;
}
.payment input{
  margin-bottom: 10px;
  width:200px;
  height:20px;
  background-color:lightgrey;

}
.payment input:hover, input:active, .column3 .btn:hover {
  background-color:#eb9c7d;
}
.payment .btn, .column3 .btn{
    background-color:#eb9c7d;
    color: white;
    padding: 13px;
    margin: 10px 0;
    border: none;
    width: 10%;
    cursor: pointer;
    font-size: 12px;
}


.column3{
  width:600px;
  margin-top: 50px;
  margin-left: 60px;
}

.column3 .btn{
    background-color: #eb9c7d;
    color: white;
    padding: 13px;
    display: block;
    border: none;
    width: 30%;
    cursor: pointer;
    font-size: 12px;
}

.column3 .container .cart h4,i{
  display: inline-flex;
  justify-content: space-between;
}
.column3 .container .cart i{
  margin-top: 5px;
  float:right;
}


.column3 .total{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  border-top: 1px solid lightgrey;


}

.column3 .total p{
  float: right;
  margin-top: 10px;
}
.column3 .total h1{
  margin-top: 10px;
  margin-left: 100px;
}
.column3 .info{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height:100px;
}

.column3 .info img, .items img{
  width:35%;
  height:200px;
}
.column3 .info h1, .items h1, .total h1{
  font-size: 16px;
  margin-top: 25px;
  margin-right: 30px;
}
.column3 .info p, .items p{
  font-size: 12px;
  margin-top: 25px;
  margin-right: 20px;
}
.column3 .items, .info{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height:150px;
}

.BRANDING_COMPONENTS p{
  font-family: 'Montserrat', sans-serif;
  margin-left: 60px;
  margin-right: 100px;
}
.Fonts h1,h3,h4{
  margin-top: 40px;

}
.Fonts h1{
  font-size: 32px;
  font-family: 'Mansalva', cursive;
}
.Fonts h3{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}
.Fonts h4{
  font-size: 16px;
  color:black;
}

.Palette, .Imagery{
  display: flex;
  flex-wrap: wrap;
  margin: 60px;
  flex-grow: 1;


}
.Palette .block, .Imagery .block{
  margin-top: 30px;
  margin-right: 10px;
  flex-basis: 15em;
  height: 200px;
  width: 100px;

}

.Palette .block p {
    padding: 0.5rem;
    font-family: 'Assistant', sans-serif ;
  }

.Palette #b{
  background-color: #f4e8da;
  border: 1px solid black;
}
.Palette #c{
  background-color: #9ebfac;
}
.Palette #d{
  background-color:#0c5045;
}
.Palette #e{
  background-color:#eb9c7d;
}

.Imagery img{
  height: 250px;
  width: 250px;
  padding: 10px;
}
.Imagery {
  margin-right: 80px;
  padding-right: 10px;
  margin-bottom: 150px;
}

.citations {
  border: 1px solid #999;
  display: block;
  padding: 20px;
  margin: 80px;
  margin-top: 150px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}
@media screen and (max-width: 750px) {
  .main_nav .nav_links li, .navbar .nav_links li,.buttons a, #combined_elements .nav_links li{
    margin-bottom: 10px;
    display:block;
    margin-left:100px;
    align-content: left;
  }
  .nav_bar, .navbar .nav_links, .buttons a{
    display:block;
  }
  #interactive_elements .element code, .navbar code, .buttons code, .lists code{
    display: block;
    flex-direction: column;
  }
  .column1 .New_Arrivals {
    display: block;
    flex-direction: column;
    margin-bottom: 600px;
  }
  .column3 .col-25{
    flex-direction: column;
    flex-wrap:wrap;
  }
}
