* {
  /*font-family: 'Lato', sans-serif;*/
  margin: 0;
  padding: 0;
}
.logo,.nav-links a{
  font-family: 'Ubuntu', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  /*font-family: "Times New Roman", Times, serif;*/
}

.shoppingcart-container {
  margin-top: 50%;
  width: 80%;
  margin: auto;
}

.shoppingcart-title {
  margin-bottom: 40px;
  margin-top: 50px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D6D6D6;
}

.shoppingcart-title h1 {
  font-weight: 400;
  font-size: 1.2rem;
}

.shoppingcart-items {
  -ms-display: flex;
  -webkit-display: flex;
  display: flex;
  position: relative;
  border-bottom: 1px solid #D6D6D6;
  padding-bottom: 20px;
}

.shoppingcart-items-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-right: 10px;
  background-color: #d6d6d6;
}

.shoppingcart-items-word1 {
  -ms-display: flex;
  -webkit-display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
}

.shoppingcart-items-word2 {
  margin-top: 2em;
  font-size: 0.8rem;
}

.shoppingcart-items-word3 {
  margin-top: 110px;
}

.shoppingcart-items-shipping {
  position: absolute;
  width: 200px;
  font-size: 12px;
  color: #8D8D8D;
  letter-spacing: 1px;
  left: 23%;
  display: none;
}

.shoppingcart-items-remove {
  position: absolute;
  font-size: 14px;
  color: #8D8D8D;
  font-weight: 300;
  letter-spacing: 0.06rem;
  right: 4%;
}

.shoppingcart-items-remove:hover {
  color: #000000;
}

.shoppingcart-items-number {
  width: 30px;
  height: 18px;
  border: 1px solid #D6D6D6;
  padding: 2px;
}

.shoppingcart-items h3 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.shoppingcart-items-title {
  position: absolute;
  left: 23%;
  max-width: 16em;
}

.shoppingcart-items-price {
  position: absolute;
  right: 40%;
  font-size: 13px;
  letter-spacing: 2px;
  text-align: right;
  display: none;
}

.shoppingcart-items-number {
  position: absolute;
  right: 30%;
}

.shoppingcart-total {
  position: relative;
  margin-top: 24px;
  -ms-display: flex;
  -webkit-display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 136px;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #D6D6D6;
}

.shoppingcart-items-totleprice {
  position: absolute;
  right: 4%;
}

.shoppingcart-total-heading {
  position: absolute;
}

.shoppingcart-total-head {
  display: block;
  margin-top: 0.5em;
  font-size: 0.9rem;
  color: #8D8D8D;
  letter-spacing: 0.09rem;
  font-weight: 300;
}

.shoppingcart-total-pricing {
  position: absolute;
  right: 4%;
}

.shoppingcart-total-price {
  display: block;
  margin-top: 0.5em;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: right;
}

.shoppingcart-total-head.total {
  font-size: 1rem;
  font-weight: 700;
  color: black;
  margin-top: 15px;
}

.shoppingcart-total-price.total {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 15px;
}

.shoppingcart-checkout {
  justify-content: flex-end;
  margin-bottom: 15%;
}

.checkout-button {
  padding: 10px 18px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-decoration: none;
  background-color: #000;
  color: #FFF;
  border-radius: 2px;
  float: right;
  text-align: right;
  margin-top: 20px;
  margin-right: 2%;
}

.continuelink {
  float: right;
  margin-top: 38px;
  margin-right: 2%;
  font-size: 0.8rem;
  color: #000;
  letter-spacing: 0.06rem;
  text-decoration: underline;
}

.continuelink:hover {
  color: #8D8D8D;
  cursor: pointer;
}

@media (min-width:600px) {
  .shoppingcart-items-img {
    width: 20%;
    height: 20%;
    max-width: 120px;
  }

  .shoppingcart-items-shipping {
    position: absolute;
    width: 200px;
    font-size: 12px;
    color: #8D8D8D;
    letter-spacing: 1px;
    left: 23%;
    display: block;
  }

  .shoppingcart-title h1 {
    font-weight: 400;
    font-size: 1.2rem;
  }

  .shoppingcart-total-heading {
    right: 22%;
  }
}

@media (max-width:641px) {
  .shoppingcart-items-title {
    max-width: 6em;
  }

  .shoppingcart-items {
    padding-bottom: 60px;
  }
}

@media (max-width:362px) {
  .continuelink {
    margin-top: 1em;
  }

  .shoppingcart-items-title {
    max-width: 4em;
  }
