/*
font-family: 'Cormorant Garamond', serif; - text,buttons
font-family: 'Montserrat', sans-serif; - heading for nav
font-family: 'Oswald', sans-serif; - subheading
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*
begin checkout form
*/
.container {
  margin: 3.750em 6.28em;
  border: 1px solid lightgrey;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
}

.column1 {
  width: 35%;
  color: #0b4235;
  font-family: 'Oswald', sans-serif;
  font-size: 0.9em;
}

/*all forms have 1.250em of padding*/
.column1 .billing_info, .form-group, .column2 .payment_info, .column3 .summary {
  padding: 1.250em;
}

.column1 .billing_info input, .form-group input {
  width: 50%;
  height: 28px;
  margin-bottom: 0.85em;
}

/*
begin column2
*/
.column2 {
  width: 35%;
  color: #0b4235;
  font-family: 'Oswald', sans-serif
}

.column2 .form {
  margin-top: 1.250em;
}

.column2 .payment_info h4 {
  margin-bottom: 1.563em;
}

.column2 .payment_info i {
  font-size: 1.875em;
  padding-right: 1.875em;
}

.column2 .payment_info input {
  width: 50%;
  height: 28px;
  margin-bottom: 0.938em;
}

.column2 .payment_info button {
  font-size: 1.250em;
}

.column2 .icon-container {
  border: none;
  width: 100%;
  height: 20%;
  font-size: 1.250em;
  display: flex;
}

/*
begin column3
*/
.column3 {
  width: 30%;
  background-color: #f9f9f9;
  color: #0b4235;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}

.column3 .summary p {
  padding: 0.625em;
  color: #0b4235;
}

input[input=text] {
  width: 100%;
  margin-bottom: 0.625em;
  padding: 0.750em;
}

*:focus {
  outline: none;
}

label {
  margin-bottom: 0.625em;
  display: block;
  color: #0b4235;
}

.column1 input:hover, .column2 input:hover {
  border: none;
  border-bottom: 1px solid #0b4235;
}

.column1 label:active input:hover, .column2 label:active input:hover {
  border: none;
  border-bottom: 1px solid #0b4235;
}

/*
continue to checkout button
*/
.btn {
  font-family: 'Cormorant Garamond', serif;
  border: 1px solid black;
  padding: 0.750em;
  margin: 0.625em 1.563em;
  width: 80%;
  cursor: pointer;
  font-size: 0.750em;
  background-color: white;
}

.btn:hover {
  background-color: black;
  color: white;
}

span.price {
  float: right;
  color: #0b4235;
}

@media screen and (max-width:57.500em) {
  .container {
    flex-direction: column;
    margin: 0.625em 1.563em;
  }

  .column1, .column2, .column3 {
    width: 100%;
    margin-bottom: 1.250em;
  }

  input {
    width: 100%;
  }
}

@media screen and (max-width:56.250em) {
  .container {
    flex-direction: column;
    margin: 0.625em 1.563em;
  }

  input {
    width: 100%;
  }
}
