* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Ubuntu', sans-serif;
https://www.youtube.com/watch?v=ceGcS5CAi5s contact us responsive
https://www.youtube.com/watch?v=oAX3sliWVUE product listing
<i class="fab fa-facebook"></i>
<i class="fab fa-twitter"></i>
<i class="fab fa-instagram"></i>


*/

/*
begin contact us information
*/
.container {
  margin: 100px 0px;
  margin-bottom: 20%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.container-left {
  width: 100%;
}

.form h2 {
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  color: #0b4235;
  margin-bottom: 50px;
  width: 95%;
  font-size: 23px;
}

.form, .contact-form {
  font-family: 'Open Sans', sans-serif;
  align-items: left;
  margin: 30px;
  padding: 0px 40px;
}

.form-heading, h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #0b4235;
  text-align: left;
}

.input-form {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 25px;
}

.inner-msg {
  padding: 0px 0px;
  width: 100%;
  margin-bottom: 20px;
}

.input>input {
  border: 1px solid grey;
  align-items: center;
  width: 220px;
  padding: 8px 40px;
}

.input {
  margin-bottom: 10px;
}

.input h3 , .inner-msg h3{
  display: block;
  font-size: 15px;
  margin-bottom: 10px;
}
.input input:hover {
  border: none;
  border-bottom:2px solid #f9cbbb;
}


.msg>textarea {
  width: 100%;
  padding: 10px 40px;
  height: 150px;
}

.container-right {
  flex-direction: row;
  height: auto;
}

.contact-form .container-items  {
  display: block;
  padding:10px 15px 20px 0px;
  margin-bottom: 10px 10px;
}
.container-items h3,p{
  color: #0b4235;
  padding-bottom: 10px;
  font-size: 16px;
}
.container-items p{
  color: #0b4235;
  font-size: 12px;
}
.container-items i{
  padding:0px 15px 20px 0px;
  font-size: 26px;
  cursor: pointer;
}
.container-items i:hover{
  color:#f9cbbb;
}
/*
submit button
*/
.btn {
  border: 1px solid grey;
  padding: 10px 20px;
  width: 180px;
  cursor: pointer;
  transition: all 0.5 ease;
}

.btn:hover {
  border: none;
  color: white;
  background-color: black;
}


/*
styling social icons
*/


@media screen and (max-width:1085px) {
  .input-form {
    flex-direction: column;
  }

  .input:first-child input {
    margin-bottom: 20px;
  }

  .form .input input {
    width: 100%;
  }

  .container-right, .container-left {
    width: 100%;
  }

  .container-items {
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width:580px) {
  .address {
    flex-direction: column;
    align-items: center;
  }

  .inner-address {
    margin-bottom: 25px;
  }
}
