* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Ubuntu', sans-serif;
https://www.youtube.com/watch?v=ceGcS5CAi5s contact us responsive
https://www.youtube.com/watch?v=oAX3sliWVUE product listing
<i class="fab fa-facebook"></i>
<i class="fab fa-twitter"></i>
<i class="fab fa-instagram"></i>


*/
/*
begin nav bar
*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0b4235;
  font-family: 'Ubuntu', sans-serif;
  min-height: 17vh;
}
.logo h1, .shopcart i{
    color:#f9cbbb;
}

.logo {
  color: #f9cbbb;
  letter-spacing: 5px;
  font-size: 18px;
}

.shopcart {
  font-size: 25px;
  color: #f9cbbb;
  float: right;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
  font-size: 14px;
  text-decoration: none;
  list-style: none;
}

.nav-links a {
  color: #f9cbbb;
  text-decoration: none;
  list-style: none;
}

.nav-links a:hover {
  color: #f9cbbb;
  opacity: 0.9;
}

/*
creating the drop down icon
*/
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #f9cbbb;
  margin: 5px;
}

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    left: 0px;
    height: 30vh;
    top: 17vh;
    background-color: #0b4235;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    width: 100%;
    transform: translateX(-100%);
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@media screen and (max-width:1024px) {}

/*
begin contact us information
*/
.container {
  margin: 100px 0px;
  margin-bottom: 20%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.container-left {
  width: 100%;
}

.form h2 {
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  color: #0b4235;
  margin-bottom: 50px;
  width: 95%;
  font-size: 23px;
}

.form, .contact-form {
  font-family: 'Open Sans', sans-serif;
  align-items: left;
  margin: 30px;
  padding: 0px 40px;
}

.form-heading, h2 {
  fon
  font-size: 30px;
  margin-bottom: 20px;
  color: #0b4235;
  text-align: left;
}

.input-form {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 25px;
}

.inner-msg {
  padding: 0px 0px;
  width: 100%;
  margin-bottom: 20px;
}

.input>input {
  border: 1px solid grey;
  align-items: center;
  width: 220px;
  padding: 8px 40px;
}

.input {
  margin-bottom: 10px;
}

.input h3 {
  display: block;
  font-size: 15px;
  margin-bottom: 10px;
}
.input input:hover {
  border: none;
  border-bottom:2px solid #f9cbbb;
}


.msg>textarea {
  width: 100%;
  padding: 10px 40px;
  height: 150px;
}

.container-right {
  flex-direction: row;
  height: auto;
}

.contact-form .container-items  {
  display: block;
  padding: 20px;
  margin-bottom: 10px 10px;
}
.container-items h3,p{
  color: #0b4235;
  padding-bottom: 10px;
  font-size: 16px;
}
.container-items p{
  color: #0b4235;
  padding-bottom: 10px;
  font-size: 12px;
}
.container-items i{
  padding: 20px;
  font-size: 26px;
  cursor: pointer;
}
.container-items i:hover{
  color:#f9cbbb;
}
/*
submit button
*/
.btn {
  border: 1px solid grey;
  padding: 10px 20px;
  width: 200px;
  cursor: pointer;
  transition: all 0.5 ease;
}

.btn:hover {
  border: none;
  color: white;
  background-color: black;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/*
styling social icons
*/
.inner-social .fab {
  margin: 0px 35px;
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-width:1085px) {
  .input-form {
    flex-direction: column;
  }

  .input:first-child input {
    margin-bottom: 20px;
  }

  .form .input input {
    width: 100%;
  }

  .container-right, .container-left {
    width: 100%;
  }

  .container-items {
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width:580px) {
  .address, .social {
    flex-direction: column;
    align-items: center;
  }

  .inner-address, .inner-social {
    margin-bottom: 25px;
  }
}

/*
  begin footer
  */
.footer {
  width: 100%;
  padding: 40px 20px 0px 90px;
  text-align: justify;
  box-sizing: border-box;
  display: block;
  color:#0b4235;
}

.inner-footer {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 0px 15px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 13px;
  opacity: 0.9;
}

.footer-items h5 {
  text-align: justify;

}

.footer-items p {
  color: grey;
  text-align: justify;
  line-height: 25px;
  font-size: 14px;
  width: 80%;
}

.footer-items ul {
  list-style: none;
  font-size: 13px;
}

.footer-items ul li, a {
  text-decoration: none;
  margin: 10px 0px;
  color: black;
}
.footer-items a:hover {
  border-bottom: 1px solid black;
}


.footer-items h5 {
  text-transform: uppercase;
  font-size: 15px;
}

.footer-items h4 {
  font-size: 15px;
}

.contact i {
  margin: 10px 10px;
}

.contact span {
  display: block;
}

.social-media i {
  margin: 10px 10px 10px 10px;
  font-size: 20px;
  flex-direction: row;
  color: black;
}

.footer-bottom {
  width: 100%;
  padding: 10px 0px;
  margin: 0px;
  font-size: 15px;
  text-align: center;
}

@media screen and (max-width:1085px) {
  .footer-items {
    width: 50%;
    margin: 15px 0px;
  }

  .footer-bottom {
    text-align: left;
  }
}

@media screen and (max-width:600px) {
  .footer-items {
    width: 100%;
    margin: 20px 0px;
  }

  .footer-bottom {
    text-align: left;
    font-size: 10px;
  }
}
