* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Ubuntu', sans-serif;
https://www.youtube.com/watch?v=ceGcS5CAi5s contact us responsive
https://www.youtube.com/watch?v=oAX3sliWVUE product listing
<i class="fab fa-facebook"></i>
<i class="fab fa-twitter"></i>
<i class="fab fa-instagram"></i>
*/
/*begin nav bar*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0b4235;
  font-family: 'Ubuntu', sans-serif;
  min-height: 17vh;
}

.logo {
  color: #f9cbbb;
  letter-spacing: 5px;
  font-size: 18px;
}

.shopcart {
  font-size: 25px;
  color: #f9cbbb;
  float: right;
}

.nav-links {
  display: flex;
  float: left;
  justify-content: space-around;
  width: 30%;
  font-size: 14px;
  text-decoration: none;
  list-style: none;
}

.nav-links a {
  color: #f9cbbb;
  text-decoration: none;
  list-style: none;
}

.nav-links a:hover {
  color: #f9cbbb;
  opacity: 0.9;
}

/*creating the drop down logo*/
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #f9cbbb;
  margin: 5px;
}

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    left: 0px;
    height: 30vh;
    top: 17vh;
    background-color: #0b4235;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    width: 100%;
    transform: translateX(-100%);
    /*links disappear by transitioning off screen*/
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

/*
  begin product list
  */
h1 {
  font-size: 30px;
  text-align: center;
  margin: 10% 0;
}

.product {
  margin: 10% 8% 8% 8%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-item {
  flex-grow: 1;
  flex-basis: 30%;
  padding: 2%;
  margin: 1%;
  margin-bottom: 2%;
  background-color: #fff;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0, .25);
}
.product-item h3{
  font-family: 'Open Sans', sans-serif;
}
.product-item h2,h1{
font-family: 'Righteous', cursive;
}
.product-img img {
  max-width: 100%;
  max-height: 100%;
}

.product-img img:hover {
  opacity: 0.7;
  box-shadow: 1px 1px #888888;
}

.product-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}
.product-item a{
  position: relative;
  margin-top: 7%;
  font-family: 'Ubuntu', sans-serif;
  float: right;
  opacity: 1;
}
.product-item button{
  height: 35px;
  width: 120px;
  font-size: 14px;
}
.product-item button:hover{
  background-color:black;
  color:white;
}

@media screen and (max-width:920px) {
  .product-item {
    flex: 1 35%;
    margin: 30px;
  }
}

@media screen and (max-width:600px) {
  .product-item {
    flex: 1 100%;
    margin: 30px;
  }
}
/*
  begin footer
  */
.footer {
  width: 100%;
  padding: 40px 20px 0px 90px;
  text-align: justify;
  box-sizing: border-box;
  display: block;
  background-color: lightgrey;
}

.inner-footer {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 0px 15px;
  margin: 0px;
  box-sizing: border-box;
}

.footer-items h5 {
  text-align: justify;
  font-size: 10px;
}

.footer-items p {
  color: grey;
  text-align: justify;
  line-height: 25px;
  font-size: 14px;
  width: 80%;
}

.footer-items ul {
  list-style: none;
  font-size: 15px;
}

.footer-items ul li, a {
  text-decoration: none;
  margin: 10px 0px;
  color: black;
}
.footer-items a:hover {
  border-bottom: 1px solid black;
}


.footer-items h5 {
  text-transform: uppercase;
  font-size: 20px;
}

.footer-items h4 {
  font-size: 25px;
}

.contact i {
  margin: 10px 10px;
}

.contact span {
  display: block;
}

.social-media i {
  margin: 10px 10px 10px 10px;
  font-size: 20px;
  flex-direction: row;
  color: black;
}

.footer-bottom {
  width: 100%;
  padding: 10px 0px;
  margin: 0px;
  background-color: lightgrey;
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width:1085px) {
  .footer-items {
    width: 50%;
    margin: 15px 0px;
  }

  .footer-bottom {
    text-align: left;
  }
}

@media screen and (max-width:600px) {
  .footer-items {
    width: 100%;
    margin: 20px 0px;
  }

  .footer-bottom {
    text-align: left;
    font-size: 10px;
  }
}
